{% extends '::base.html.twig' %}

{% block title %}Entreprise - Lister{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('bundles/mrmcburgergetajob/css/company.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('mrmcburger_getajob_homepage') }}">GetAJob</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes Entreprises<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('mrmcburger_getajob_new_company') }}">Ajouter</a></li>
                  <li><a href="{{ path('mrmcburger_getajob_list_company', { 'page': '1' }) }}">Lister</a></li>
                  <li><a href="{{ path('mrmcburger_getajob_rank_company', { 'page': '1' }) }}">Classement</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes Candidatures<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('mrmcburger_getajob_new_application') }}">Ajouter</a></li>
                  <li><a href="{{ path('mrmcburger_getajob_list_application', { 'page': '1' }) }}">Lister</a></li>
                  <li><a href="{{ path('mrmcburger_getajob_history_application', { 'page': '1' }) }}) }}">Historique</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes Entretiens<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Ajouter</a></li>
                  <li><a href="#">Planning</a></li>
                </ul>
              </li>
              <li><a href="#">Mes Retours</a></li>
              <li><a href="{{ path('mrmcburger_getajob_show_global_criteria') }}">Mes Critères</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block body %}
<div class="container">
 <div class="hero-unit hero-unit-listcompany">
    <h1>Lister les entreprises</h1>
    <table class="table table-striped" id="list-company">
      <tr>
        <th>Nom</th>
        <th>Secteur</th>
        <th>Adresse</th>
        <th>E-mail</th>
        <th>Téléphone</th>
      </tr>
      {% for company in pager %}
      <tr>
          <td><a href="{{ path('mrmcburger_getajob_show_company', { 'id': company.id }) }}">{{ company.name }}</a></td>
          <td>{{ company.sector }}</td>
          <td>{{company.address.number}} {{company.address.type}} {{company.address.name}}<br />{{company.address.additional}} {{company.address.zip}} {{company.address.city}}</td>
          <td>{{ company.mail }}</td>
          <td>{{ company.phone }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="navigation">
        {{ pagerfanta(pager) }}
    </div>
  </div>
</div>
{% endblock %}
