{% form_theme form 'MrmcburgerGetajobBundle:Form:fields.html.twig' %}

{% extends '::base.html.twig' %}

{% block title %}Critères - Modifier{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('bundles/mrmcburgergetajob/css/globalcriteria.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('mrmcburger_getajob_homepage') }}">GetAJob</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes Entreprises<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('mrmcburger_getajob_new_company') }}">Ajouter</a></li>
                  <li><a href="{{ path('mrmcburger_getajob_list_company', { 'page': '1' }) }}">Lister</a></li>
                  <li><a href="{{ path('mrmcburger_getajob_rank_company', { 'page': '1' }) }}">Classement</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes Candidatures<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('mrmcburger_getajob_new_application') }}">Ajouter</a></li>
                  <li><a href="{{ path('mrmcburger_getajob_list_application', { 'page': '1' }) }}">Lister</a></li>
                  <li><a href="#">Historique</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes Entretiens<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Ajouter</a></li>
                  <li><a href="#">Planning</a></li>
                </ul>
              </li>
              <li><a href="#">Mes Retours</a></li>
              <li class="active"><a href="{{ path('mrmcburger_getajob_show_global_criteria') }}">Mes Critères</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block body %}

<div class="container">
  <div class="hero-unit hero-unit-globalcriteria content">
      <h1>Mes critères de sélection</h1>
      <div id="show-globalcriteria">
        <div id="show-globalcriteria-header">
          <div id="show-globalcriteria-header-left">
            <button id="see-button" class="btn btn-primary">Voir</button>
          </div>
          <div id="show-globalcriteria-header-right">
             <button id="modify-button" class="btn btn-inverse" disabled>Modifier</button>
          </div>
        </div>
        <form id="modify_globalcriteria" method="post" action="">
          <div id="modify_globalcriteria_left">
            <div id="modify_globalcriteria_left_left">
                  {{ form_label(form.displacement) }}
                  {{ form_label(form.celebrity) }}
                  {{ form_label(form.missionInterest) }}
                  {{ form_label(form.salaryExpectation) }}
                  {{ form_label(form.workConditions) }}
                  {{ form_label(form.evolutionPossibilities) }}
            </div>
            <div id="modify_globalcriteria_left_right">
                  {{ form_widget(form.displacement) }} {{ form_errors(form.displacement) }}
                  {{ form_widget(form.celebrity) }} {{ form_errors(form.celebrity) }}
                  {{ form_widget(form.missionInterest) }} {{ form_errors(form.missionInterest) }}
                  {{ form_widget(form.salaryExpectation) }} {{ form_errors(form.salaryExpectation) }}
                  {{ form_widget(form.workConditions) }} {{ form_errors(form.workConditions) }}
                  {{ form_widget(form.evolutionPossibilities) }} {{ form_errors(form.evolutionPossibilities) }}<br /><br />
                  {{ form_widget(form.modify_globalcriteria) }}
                  {{ form_widget(form._token) }}
            </div>
          </div>
        </form>
     </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/mrmcburgergetajob/js/globalcriteria.js') }}" type="text/javascript" ></script>
{% endblock %}
